

details {
    user-select: none;
    /* border-radius: 10%; */
    padding: 5px;
}

details summary span {
    transition: all 0.4s;
    margin-right: 2%;
}

details[open] summary span {
    transform: rotate(180deg);
}

summary {
    display: flex;
    cursor: pointer;
}


.roundedButton {
    backdrop-filter: brightness(85%);
    border-radius: 10%;
}