

details {
    user-select: none;
    filter: brightness(85%);
}

details[open] summary span {
    transform: rotate(180deg);
    transition: all 0.4s;
    margin-left: auto;
}

summary {
    display: flex;
    cursor: pointer;
}